<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="parallel thread-count = 5" parallel="methods" thread-count="5">
        <classes>
            <class name="DeviceTestAPI"></class>
        </classes>
    </test>
    <test name="parallel thread-count = 10" parallel="methods" thread-count="10">
        <classes>
            <class name="DeviceTestAPI"></class>
        </classes>
    </test>
    <test name="parallel thread-count = 2" parallel="methods" thread-count="2">
        <classes>
            <class name="DeviceTestAPI"></class>
        </classes>
    </test>
    <test name="parallel thread-count = 100" parallel="methods" thread-count="100">
        <classes>
            <class name="DeviceTestAPI"></class>
        </classes>
    </test>
</suite>
